.clearfix:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.head-wrap {
    background-color: rgba(0,0,0,.7);
    font-family: '微软雅黑';
    margin-bottom:0;
    border-radius: 0;
}

.head-wrap span{
    background-color: #fff;
}
.company-logo {
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0px  0px 3px green;
    /* line-height: 10px; */
}
.company-subnav a{
    color:#fff;
    font-size:18px;
}
.company-logo:hover{
    color: #fff;
    text-shadow: 0px  0px 3px green;
}
.company-subnav li a:hover{
    color:rgb(4, 71, 49);
    background-color: rgba(255,255,255,.5);
}
#bluesky{
    font-family: '微软雅黑';
}
.sky-ban {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.sky-ban img {
    display: block;
}

.skybanner {
    width:100%;
    position: relative;
    height: 600px;    
}
.carousel-inner .item img{

}


.pro{
    overflow: hidden;
}
.product{
    width:100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background:url('../images/bg-3.png') repeat center center;
    background-size:100% 100%;
}
.item-wrap{
    margin-bottom:30px;
}
.item-wrap .item-title{
    margin-bottom:20px;
    position: relative;
    color:#000;
    font-size:26px;
    letter-spacing: 5px;
}
.item-subtitle{
    font-size:20px;
    text-transform: capitalize;
    color:#aaa;
    letter-spacing: 2px;
    margin-bottom:30px;
}
.item-wrap .item-title:after{
    content:'';
    width:58px;
    display: block;
    position: absolute;
    top:50%;
    margin-top:20px;
    height: 2px;
    left:50%;
    margin-left:-29px;
    border-bottom:2px solid darkgreen;
}

.pro>img{
    transition: all 1s;
}
.pro-img{
    margin:0 auto;
}
.pro:hover .pro-img{
    transform: scale(1.2);
}

.brief .brief-company{
    font-size:20px;

}
/* 公司简介 */
.wrap-company{
    height: 270px;  
    overflow: hidden;  
    margin-bottom:30px;
}
.company{
    width:100%;      
    margin-bottom:20px;
}

.company p{
    line-height: 2;
    font-size:18px;
    color:#444;
    text-indent: 30px;    
    font-family: '微软雅黑';
}


.message li{
    color: #444;  
    /* width:450px; */
    padding-left:20px;
    font-size:16px;
    line-height: 2;
}
.honour{
    margin-top:30px;
}
.honour-title{
    font-size:18px;
}
.honour-more{
    float:right;
}
/* 产品优势 */
.pro-adimg{
    width:100%;
    display: block;
    margin:0 auto;
}
.pro-advant{
    padding:20px 10px;
    /* height: 374px; */
    background-color: bisque;
}
.pro-nopd{
    padding-left:0;
    padding-right: 0;
}

/* 新闻 */
/* .news-tabs strong{
    margin:0 20px;
}
.news-tabs{
    margin-bottom:30px;
} */

/* 过渡模块 */
.cooperate{
   
    width:100%;    
    background:url('../images/timg-bg.jpg') no-repeat center center / cover  fixed;    
    line-height: 2;
}
.bgcolor{
    padding:50px 0;
    background-color: rgba(0,0,0,.8);
}
.slogan{
    padding-left:0;
    padding-right:0;
}
.slogan-box{
    margin-left:0;
    margin-right:0;
} 
.cooperate-zh{
    color:#fff;
    letter-spacing: 10px;
    font-size:40px;
}
.cooperate-zh strong{
    color:rgb(8, 180, 202);
    font-size:50px;
    font-weight: normal;
}
.cooperate-en{
    font-size:18px;
    word-spacing: 3px;
    letter-spacing:3px;
    color:rgb(128, 126, 126);
}
.copyright{
    width:100%;
    padding:20px 0;    
    text-align: center;
    color:#ccc;
    background-color: #666;
}
#address{
    /* min-width:400px; */
    height: 400px;
}
